npm create vite@latest ./ -- --template react

npm install -D tailwindcss
npx tailwindcss init

npm install --legacy-peer-deps @react-three/fiber @react-three/drei maath react-tilt react-vertical-timeline-component @emailjs/browser framer-motion react-router-dom
npm install tailwind-scrollbar-hide

# MILESTONES
======================

PAGINA WEB
[X] Create main pages structure and link them
[X] Create Nav Bar
[ ] Create Subscribte button and bot

[ ] Create 3D Art Section
    [ ] Create galery, progress bar and backgrounds
    [ ] Visual feedback and animations
[ ] Crate music section
    [ ] Make unfold songs, scroll play and stop buttons
    [ ] Visual feedback and animations
[ ] Create Videogames Sections
    [ ] Create scroll videogmes gallery and preview
    [ ] Videogame page and links
    [ ] Visual feedback and animations
[ ] Create Ilustration page
    [ ] Learn to reorder items
    [ ] Gifs, comic, ilustration and animation sections
    [ ] Visual feedback and animations
[ ] Create other page
    [ ] Create article page galery with tags
    [ ] Search and find articles
    [ ] Create article page and find a way to do layout
    [ ]  Visual feedback and animationn

[ ] Add assets to the resources folder
[ ] Create Icons for sections and menu
[ ] Pulish transitions, feedback and animations
