npm create vite@latest ./ -- --template react

npm install -D tailwindcss
npx tailwindcss init

npm install --legacy-peer-deps @react-three/fiber @react-three/drei maath react-parallax-tilt react-vertical-timeline-component @emailjs/browser framer-motion react-router-dom
npm install --save-dev tailwind-scrollbar
npm install --legacy-peer-deps eslint-plugin-react-hooks


#       MILESTONES
# =======================
[X] Create main pages structure and link them
[X] Create Nav Bar

[x] Crate music section (1)
    [x] Make layout, unfold listed songs on scroll
    [x] Play and stop music

[ ] Create Videogames Sections (2)
    [ ] Create scroll videogames, gallery and preview
    [ ] Videogame page layout, upload video, gif or links

[ ] Create 3D Art Section (3)
    [ ] Create galery, progress bar and backgrounds
    [ ] Import models, create layout
    [ ] Add buttons to show animations, geometry, normals...

[ ] Create Ilustration page (2)
    [ ] Upload gifs, comic, ilustration, animation
    [ ] Learn to reorder items
    [ ] Gifs, comic, ilustration and animation filters

[ ] Create other page (2)
    [ ] Create galery with tags
    [ ] Search and find articles
    [ ] Create article page and do the layout
    
[x] Create Subscribe button and send emails
[ ] Create Newsletter Telegram bot
[ ] Global portfolio filter (1)
[ ] Create Icons for sections and menu (1)
[ ] Visual feedback and animationn (4)