npm create vite@latest ./ -- --template react

npm install -D tailwindcss
npx tailwindcss init

npm install --legacy-peer-deps @react-three/fiber @react-three/drei maath react-parallax-tilt react-vertical-timeline-component @emailjs/browser framer-motion react-router-dom
npm install --save-dev tailwind-scrollbar
npm install --legacy-peer-deps eslint-plugin-react-hooks
npm install --legacy-peer-deps react-player


#       MILESTONES
# =======================
[X] Create main pages structure and link them
[X] Create Nav Bar

[x] Crate music section (1)
    [x] Make layout, unfold listed songs on scroll
    [x] Play and stop music

[ ] Create Videogames Sections (2)
    [X] Create scroll videogames, gallery and preview
    [X] Videogame page layout, upload video, gif or links
    [ ] Pulish on layout and align center items

[ ] Create 3D Art Section (3)
    [ ] Create galery, progress bar and backgrounds
    [ ] Import models, create layout
    [ ] Add buttons to show animations, geometry, normals...

[ ] Create Ilustration page (3)
    [X] Upload gifs, comic, ilustration, animation
    [X] Learn to reorder items
    [X] Gifs, comic, ilustration and animation filters
    [ ] Preview image layout and scroll scale up or move drag

[ ] Create other page (2)
    [X] Create galery with tags
    [X] Search and find articles
    [ ] Test embbed an html article layout (figma)
    [x] Create article page and do the layout
    
[x] Create Subscribe button and send emails
[x] Get Resources from a JSON
[ ] Create Newsletter Telegram bot
[ ] Global portfolio filter (1)
[ ] Create Icons for sections and menu (1)
[ ] Visual feedback and animationn (4)